.primary{
    font-family:sans-serif;
    font-style:oblique;
    padding-left: 500px;
    padding-top: 50px;
   font-size: 60px;
   color: mintcream;
    
}
.hi{
    padding-left: 650px;
    font-size: 20px;
    color: seashell;
}
.hii{
    padding-left: 250px;
    color: slategrey;
}
.secoundry{
    background-image: url("https://cdn.wallpapersafari.com/78/60/gUli9F.jpg");
}
